body
{
	background-color:#CCC;
}

.kosong
{
    height: 27px;    
}

.framekonten {
	background-color:#FFF;
	width:94%;
	margin-left:3%; 
    margin-right:3%;
}

.frameline {
	background-color:#03C;
	width:94%;
	margin-left:3%; 
    margin-right:3%;
}

.framemenu1 {
	background-color:#085B9F !important;
	vertical-align:top;
}

.frameteksmenu {
	margin:15px 20px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.matapelajaran {
	font-size: 14px;
	color: #2BE323;
}

.judulmateri {
	font-size: 24px;
	color: #FFFFFF;
	font-weight:bold;
}

.teksmenu {
	font-size: 12px;
	color: #FFFFFF;
}

.teksmenu a{
	font-size: 12px;
	color: #FFFFFF;
}

.teksmenu a:hover{
	font-size: 12px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration:none;
}

.teksmenu visited {
	text-decoration:none;
}

.frameisi {
	vertical-align:text-top;
}

.frameteksisi {
	margin:20px 20px;
	line-height:20px;
	color:#000000;
	font-size:14px;
}

.judulmenu {
	font-size:22px;
	color: #070707;
	text-indent:0px;
}

.frameteksparagraph{
	margin:20px 20px;
	line-height:20px;
	color:#000000;
    text-indent:40px;
}



.floating-menu {
	position:fixed;background:#ffffff;padding:5px;top:161px;width:225px;z-index:100;
	padding:0px 5px 5px 0px;
	text-height:5px;
	border: 1px solid #063;
}

#EdgeID {
	width:720px;
	height:540px;
	margin-top:auto;
	margin-bottom:0px;
	display:block;
	padding: 34.37% 0 0 0;
}

.intrinsic-container {
  position: relative;
  height: 100%;
}

.img-container {
    position:relative;
	padding-left:10%;
	padding-right:10%;
}

object {
    /*position: absolute;*/
    top: 0px;
	bottom: 0px;
    left: 0px;
	right: 0px;
    display: inline;
    max-width: 100%;
    max-height: 100%;
	overflow:hidden !important;
	
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0px;
  width: 100%;
  height:500px;
  scrolling="no";
  border:none;
}

blockquote {border-left: 0px;margin-top: 0px;margin-bottom: 0px;margin-left: -3px;margin-right: 0px; 
font-size:14px; padding-top:0px;padding-right:0px;padding-bottom:0px;}

.a-judul {font-size:16px;font-weight:bold;text-align:center;text-transform:uppercase;color: #0033cc;}
.a-subjudul {font-size:16px;font-weight:bold;text-align:left;color:#000000;}
.a-subjudul2 {font-size:14px;font-weight:bold;text-align:left;color:#000000;}
.a-tengah {text-align:center;}
.a-minus {text-indent: -9px;margin-left:18px;}
.a-paragraf {text-indent: 50px;}
.a-poin-i {list-style-type:lower-roman;}
.a-poin-II {list-style-type:upper-roman;}
.a-poin-a Kecil {list-style-type: lower-alpha;}
.a-poin-A Besar {list-style-type: upper-alpha;}
.a-ketgambar {font-size: 12px;  font-style:italic;text-align:center; padding-bottom:18px;}


@media (max-width: 799px) {
	 .framemenu1 {
	width:220px;
}
}


@media (min-width:800px) {
	 .framemenu1 {
	width:30%;
}
}

@media (min-width:1200px){
.framekonten {	
	width:1100px;
	margin-left:auto; 
    margin-right:auto;
}
}

.paragraph {
}
